body {
  font-family: Arial;
  background-color: #112130;
  color: #f4f3f3;
}
header {
  background-color: #070707;
  color: white;
  padding: 2rem;
  text-align: center;
}
section {
  padding: 2rem;
}
a {
  color: #660afa;
  text-decoration: none;
}



body.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

body.dark-mode header {
  background-color: #1f1f1f;
}

body.dark-mode a {
  color: #90cdf4;
}

body.dark-mode button {
  background-color: #333;
  color: #fff;
}